extends layout


block content
  style.
    li {
      margin-bottom: 10px;
    }
  h1= title
  p Chào mừng đến với #{title}

  h1 Mục lục
  ul
    li
      a(href='/sinhvien') Quản lý sinh viên
    //- li
    //-   a(href='/attendance') Quản lý điểm danh
    for classGroup in classGroups
      h2= classGroup.name
      li
        a(href=`${classGroup._id}/class/`) Quản lý lớp học
      li
        a(href=`${classGroup._id}/session`) Quản lý buổi học
      li
        a(href=`${classGroup._id}/score`) Quản lý điểm số

  h1 Thống kê
  ul 
    li
      a(href='/attendance/statistic') Thống kê điểm danh
    li 
      a(href='/report/score/history') Lịch sử điểm số

  h1 Kết xuất Excel
  ul 
    li 
      a(href='/sinhvien/export') Tổng danh sách Sinh Viên

