extends layout

block content
    h1 Sinh Viên

    form(action="/sinhvien" method="get")
        div(style="margin: 10px")
            label(for="fullName") Lớp học:
            input(id="fullName" name="fullName")
            button(type="submit" style="margin: 10px") Lọc

    a(href='/sinhvien/create' style="padding: 10px") Tạo mới
    table(border=1 cellpadding=10)
        thead
            tr
                th Stt
                th Họ và Tên
                th Ngày sinh
                th Giới tính
                th Tổ
                th Trạng thái
                th Mã QR
                th(colspan=2) Hành động
        tbody
            each sv, index in sinhviens
                tr
                    td= index + 1
                    td= sv.fullName
                    td= sv.birthday
                    td= sv.isMale ? 'Nam' : 'Nữ'  
                    td= sv.group
                    td= sv.status
                    td
                        a(href='/sinhvien/qr?id=' + sv._id) Xem
                    td
                        form(action='/sinhvien/delete/' + sv._id, method='post')
                            button(type='submit') Xóa 
                    td
                        form(action="/sinhvien/edit/" + sv._id, method="get")
                            button(type="submit") Sửa